<div class="row col-xs-12">
  <style>
    .footer-link li { display: inline-block;}
  </style>

  <div class="wrapper">
    <br><br>
    <div style="float:right;margin-top:38px;"><img src="{{ex_static}}images/card-icons.png" style="height:40px;"/></div>

    <a href="/" style="padding: 8px 20px;display: inline-block;">
      <img src="{{ex_static}}images/logo.svg" alt="logo" style="height: 100px;">
    </a>

    <ul class="footer-link" style="list-style:none;display:inline-block;vertical-align: top;margin-top: 37px;">
      <li class="facebook">
      <a href="#" target="_blank"><i class="fa fa-2 fa-facebook-square"></i></a>
      </li>
      <li class="twitter">
      <a href="#" target="_blank"><i class="fa fa-2 fa-twitter-square"></i></a>
      </li>
      <li class="googleplus">
      <a href="#" target="_blank"><i class="fa fa-2 fa-google-plus-square"></i></a>
      </li>
      <li class="pinterest">
      <a href="#" target="_blank"><i class="fa fa-2 fa-pinterest-square"></i></a>
      </li>
      <a href="#" target="_blank"><i class="fa fa-2 fa-stumbleupon-square"></i></a>
      </li>
    </ul>


    <br><br><br>
    <div class="copy">Copyright 2017, All Rights Reserved.</div>

    <br><br><br>
  </div>
</div>

